@model AccountLoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="toast toast-error" asp-validation-summary="ModelOnly">
    </div>
}

<form asp-controller="Account" asp-action="Login" method="post">
    <div class="form-group">
        <label class="form-label" asp-for="Email" ></label>
        <input class="form-input" asp-for="Email" required placeholder="bv. janiek@@example.com">
        <span class="form-input-hint text-error" asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Password"></label>
        <input class="form-input" asp-for="Password" id="examplePasswordId">
        <span class="form-input-hint text-error" asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label class="form-switch">
            <input asp-for="RememberMe">
            <i class="form-icon"></i> Herinner mij ...
        </label>
    </div>
    <button class="btn btn-primary" type="submit">Inloggen</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

